# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.venv/
venv/

# cocotb / simulation outputs
results.xml
sim_build/
*.vcd
*.fst
*.wlf
*.log

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Vivado transient files
*.jou
*.log
*.str
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.gen/
*.xpr
*.backup.log

